<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
  </head>

  <body class="background">

    <div class="container">

      <div id="addForm">

        <h1>Add an item</h1>
        <small>Add as much information as possible!</small>

        <form role="form" method="get" action="/add">
          {{!-- <input id="foodName" placeholder="Food Name" type="text" required name="name"/> --}}
          <select id="foodName">
            <option value="apple">Apple</option>
            <option value="avocado">Avocado</option>
            <option value="banana">Banana</option>
            <option value="broccoli">Broccoli</option>
            <option value="carrot">Carrot</option>
            <option value="cherry">Cherry</option>
            <option value="chili_pepper">Chill Pepper</option>
            <option value="coconut">Coconut</option>
            <option value="cookie">Cookie</option>
            <option value="corn">Corn</option>
            <option value="egg">Egg</option>
            <option value="eggplant">Eggplant</option>
            <option value="garlic">Garlic</option>
            <option value="grape">Grape</option>
            <option value="green_pepper">Green Pepper</option>
            <option value="kiwi">Kiwi</option>
            <option value="lemon">Lemon</option>
            <option value="orange">Orange</option>
            <option value="pear">Pear</option>
            <option value="peas">Peas</option>
            <option value="potato">Potato</option>
            <option value="radish">Radish</option>
            <option value="strawberry">Strawberry</option>
            <option value="tomato">Tomato</option>
            <option value="watermelon">Watermelon</option>
          </select>
          <input placeholder="Amount" type="text"/>
          <input placeholder="Purchase Date" type="text"/>
          <input placeholder="Owner" type="text"/>
          <a href='/home'>
          <button placeholder="OK" class="OkButton" type="OK" > OK </button>
        </a>
        <a href = '/home'>
          <button placeholder="Cancel" class="CancelButton" type="Cancel">Cancel </button>
        </a>
        </form>
      </div>


    </div>

    <script src="js/addForm.js"></script>
  </body>
