<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>

    <div class="container">

       <input type="file" accept="image/*" capture="camera">

    </div>

    <div class="navbar">
      <div class="tab">
        <a href="/">
          <img src="images/icons/personal.svg" alt="personal" class="icon"></img>
        </a>
        <!-- personal -->
      </div>

      <div class="tab">
        <a href="/group">
          <img src="images/icons/group.svg" alt="group" class="icon"></img>
        </a>
      </div>

      <div class="tab active">
        <a href="/camera">
          <img src="images/icons/camera.svg" alt="camera" class="icon"></img>
        </a>
      </div>

      <div class="tab">
        <a href="/settings">
          <img src="images/icons/settings.svg" alt="settings" class="icon"></img>
        </a>
      </div>
    </div>


    <script src="js/home.js"></script>
  </body>
</html>

<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
