<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
include plain.html
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/login.css">
</head>

<body>

  <div class="container">

    <button>
      <a href="/home">
       Scan Code
       </a>
     </button>

    <form role="form" method="post">
      <a href="/home">
      <input placeholder="Room Code" type="text" />
      <input placeholder="Name" type="name" required />
      </a>
    </form>

  </div>


  <!-- <script src="js/joinhome.js"></script> -->
</body>

</html>
