<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/settings.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
  </head>
  <body class="background">

    <style>
      a { text-decoration: none; }
    </style>

    <div class="container">

      <h1>Current House Code</h1>

      <div class="qr_display">
          <h2>The Boys</h2>
        <img src="images/other/qr_code.svg" alt="qr code"></img>
          <h2>4K2J17AD</h2>
      </div>

      <br />

      <div class="houses">
        <h1>Your Houses</h1>
        {{#each houses}}
        <div class="house" id = {{id}}>
          {{name}}
        </div>
        {{/each}}
        <a href="/">
          <div class="house" id="0">
            +
          </div>
        </a>

        <!-- <div class="house">
          Parents' House
        </div> -->
      </div>


    </div>



    <div class="navbar">
      <div class="tab">
        <a href="/home">
          <img src="images/icons/personalGrey.svg" alt="personal" class="icon"></img>
        </a>
        <!-- personal -->
      </div>

      <div class="tab">
        <a href="/group">
          <img src="images/icons/groupGrey.svg" alt="group" class="icon"></img>
        </a>
      </div>

      <div class="tab">
        <a href="/camera">
          <img src="images/icons/cameraGrey.svg" alt="camera" class="icon"></img>
        </a>
      </div>

      <div class="tab active">
        <a href="/settings">
          <img src="images/icons/settings.svg" alt="settings" class="icon"></img>
        </a>
      </div>
    </div>

  </body>
</html>

<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
