.background {
  background-color: #EEEEEE;
}

.qr_display {
  text-align: center;
}

.qr_display img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.houses {
  text-align: center;
}

.house {
  background-color: rgb(207, 207, 207);

  font-size: 15pt;

  padding: 10px 0px 10px 0px;

  margin: 10px 150px 10px 150px;
}

.house.active {
  background-color: rgb(149, 255, 62);
  /* color: white; */
}

.hidden {
  display: none;
}

.container {
  /* height: 2436px; */
  /* width: 1125px; */
  /* background-color: powderblue; */
  /* display: flex; */
  /* flex-wrap: wrap; */

  font-family: Helvetica;
}


.navbar {
  background-color: #ffffff;
  /* overflow: hidden; */
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.navbar .tab {
  width: 25%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

/* Change the color of links on hover */
.navbar .tab:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar .tab.active {
  background-color: #ddd;
  color: white;
}

.icon{
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
