.background {
  background-color: #EEEEEE;
}

.qr_display {
  text-align: center;
  background: #fff;
  width: 90%;
  margin: auto;
  border-top: 2em;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.qr_display img {
  display: block;
  margin: auto;
  margin-top: -3em;
  margin-bottom: -3em;
}


h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 2em;
  /* margin-bottom: 1em; */
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  padding: 20px 0px 20px 0px;

}

.houses {
  text-align: center;
  margin-top: -2em;
}

.house {
  padding: 10px 0px 10px 0px;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  border: 0;
  background: #FFFFFF;
  border-radius: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.house.active {
  background-color: rgb(149, 255, 62);
    /* background: #74DB97; */
  /* color: white; */
}

.hidden {
  display: none;
}

.container {
  /* height: 2436px; */
  /* width: 1125px; */
  /* background-color: powderblue; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-left: 1em;
  font-family: 'Montserrat', sans-serif;
}


.navbar {
  background-color: #ffffff;
  /* overflow: hidden; */
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.navbar .tab {
  width: 25%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

/* Change the color of links on hover */
.navbar .tab:hover {
  color: black;
}

/* Add a color to the active/current link */
.navbar .tab.active {
  color: white;
}

.icon{
  height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.back{
  margin-top: 4em;
  width: 20;
  left: 18px;
  top: 65.94px;
}

#botMargin
{
  margin-bottom: 8em;
}
